footer {
    position: absolute;
    width: 100%;
    height: 200px;
    div {
        margin: 25px;
        img {
            height: 20px;
            filter: brightness(20);
        }
        li { 
            list-style-type: none;
            a {
                display: flex;
                color: $color-white;
                margin: 7px 0;
                &:hover {
                    @include button-pink;
                    padding: 3px;
                    margin: -3px;
                }
                p {
                    margin:0;
                }
                i {
                    width: 20px;
                    padding-right: 10px;
                }
            }
        }
    }
}