header {
    img {
        padding: 20px 0 10px 0;
    }
    #localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    #reservation {
        display: flex;
        flex-direction: column;
        height: 290px;
    }
}