header {
    img:first-of-type {
        width: 40%;
        margin: 0 28%;
        padding: 20px 0 10px 0;
    }
    // Page Index
    #localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        box-shadow: inset 0 3px 10px $color-shadow, inset 0 -3px 10px $color-grey-light;
        input {
            border: none;
            background-color: $color-grey;
            width: 155px;
            text-align: center;
            @include font-parameters(inputBold)
        }
    }
    #reservation {
        display: flex;
        flex-direction: column;
        height: 290px;
        justify-content: center;
        h1 {
            @include font-parameters(h1);
            width: 65%;
            align-self: center;
            margin: 5px auto;
        }
        &>p:first-of-type {
            @include font-parameters(p);
            margin: 16px 2%;
        }
        a {
            margin: 15px auto;
        }
    }
    // End Page Index
    // Page Menu
    &.arrow {
        display: flex;
        text-align: left;
        margin: auto 65px auto 20px;
        img:first-of-type {
            width: 52%;
            margin: 0 24.5%;
        }
        a:hover {
            box-shadow: 0 4px 10px $color-shadow;
        }
    }
    // End Page Menu
}