section {
    // Page Index
    &#mainContent, &#menu {
        padding: 30px 20px 45px 20px;
    }
    &#functioning {
        height: 420px;
        padding: 30px 20px 0 20px;
        @include breakpoint(tablet) {
            height: auto;
        }
        ol {
            @include breakpoint(tablet) {
                display: flex;
                justify-content: space-around;
            }
            li {
                @include breakpoint(tablet) {
                    width: 30%;
                }
                a {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    @include breakpoint(tablet) {
                        margin: 0 5px;
                        padding: 5px 0;
                        flex-direction: column;
                    }
                    &>i, &>p {
                        padding-left: 20px;
                        position: relative;
                        @include breakpoint(tablet) {
                            text-align: center;
                            padding-left: 10px;
                            margin: 10px 10px 10px 0;
                        }
                    }
                }
            }
        }
    }
    &#mainContent {
        & div {   
            .boxImg {
                .imgIndex {
                    box-shadow: 2px 2px 15px $color-shadow;
                    margin: 20px auto;
                    &:hover {
                        box-shadow: 0 0px 10px $color-grey-dark;
                        cursor: pointer;
                    }
                }
                .infoImg {
                    height: 80px;
                    margin: -100px 4px;
                    padding-left: 15px;
                    padding-right: 20px;
                    justify-content: space-between;
                    @include breakpoint(laptop-desktop) {
                        margin: -100px auto;
                    } 
                }
                &>div {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    left: 1em;
                    right: 1em;
                    background-color: $color-white;
                    border-radius: 0 0 20px 20px;
                    h3, p {
                        @include reset;
                        @include breakpoint(laptop-desktop) {
                            text-align: center;
                            align-self: center;
                        }
                    }
                    @include breakpoint(laptop-desktop) {
                        position: relative;
                        left: auto;
                        right: auto;
                    } 
                }
                .new {
                    position: absolute;
                    right: 2.5em;
                    margin: -255px 0px;
                    background-color: $color-tertiary-light;
                    p {
                        color: $color-tertiary-dark;
                        margin: 5px;
                    }
                    @include breakpoint(laptop-desktop) {
                        margin: -255px -20px;
                    } 
                }
                .notNew {
                    display: none;
                }
                @include breakpoint(laptop-desktop) {
                    position: relative;
                    width: auto;
                    margin: auto 5%;
                    height: 300px;
                } 
            }
            @include breakpoint(tablet) {
                display: contents;
            }  
            @include breakpoint(laptop-desktop) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            } 
        }
    }
    // End Page Index
    // Page Menu
    &.titleMenu {
        position: relative;
        .titleMenuRestaurant {
            position: absolute;
            top: 205px;
            right: 0;
            left: 0;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 50px 50px 0 0;
            @include font-parameters(titleMenu);
        }
    }
    &#menu {
        &>div {
            @include breakpoint(laptop-desktop) {
                justify-content: space-around
            }
        }
        div {
            & {
                @include breakpoint(laptop-desktop) {
                display: flex;
                }
            } 
            &>div {
                @include breakpoint (laptop-desktop) {
                    width: 33%
                }
            }
            div {
                display: flex;
                flex-direction: column;
                h2 {
                    @include font-parameters(p);
                    text-transform: uppercase;
                    margin-bottom: 4px;
                }
                .line {
                    height: 3px;
                    width: 40px;
                    background-color: $color-tertiary-light;
                    margin-bottom: 5px;
                }
                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    overflow: hidden;
                    margin: 10px;
                    width: 100%;
                    background-color: $color-white;
                    border-radius: $border-radius;
                    box-shadow: 0 4px 10px $color-shadow;
                    @include check-animation;
                    @include breakpoint(laptop-desktop) {
                        width: 95%;
                    }
                    h3 {
                        font-size: 1rem;
                        margin: 15px 10px 3px 10px;
                    }
                    div:first-of-type>p {
                        font-size: .9rem;
                        margin: 3px 0px 15px 10px;
                    }
                    .selectionButton {
                        flex-direction: row;
                        height: 73px;
                        transition: all 600ms ease-in-out;
                        p {
                            font-size: .9rem;
                            margin: 40px 25px 15px 10px;
                        }
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 0;
                            opacity: 0;
                            color: $color-white;
                            border-radius: 0px 20px 20px 0;
                            background-color: $color-tertiary-light;
                            transition: all 400ms ease-in-out;
                        }
                    }
                }
            }
        }
    }
    // End Page Menu
}