// background
body {
  @include background-color;
}
#menu, .titleMenuRestaurant, #reservation, #mainContent {
  @include background-color($background-color: $color-grey-light);
}
#localisation {
  @include background-color($background-color: $color-grey);
}
#functioning {
  @include background-color($background-color: $color-white);
}
footer {
  @include background-color($background-color: $color-grey-dark);
}

// image parameters
.imgMenu {
  @include size ($img-defaut-width,$img-defaut-height,$border-none);
}
.imgIndex {
  @include size ($img-defaut-width,$img-defaut-height,$border-radius);
  margin: auto;
}

// General
body {
  @include breakpoint(mobileonly);
  @include reset;
  font-family: $font-family-text;
  font-weight: normal;
  img {
    display: block;
    object-fit: cover;
  }
  header {
    text-align: center;
  }
  .title {
    font-family: $font-family-logo-title;
  }
  .buttonPink {
    @include button-pink;
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: 50px auto 35px auto;
    p {
      color: $color-white;
      margin: 0 20px;
    }
  }
  ul {
    padding: 0;
  }
  a {
    color: black;
    text-decoration: none;
    width: max-content;
    align-self: center;
  }
}

// list OL
ol {
  position: relative;
  top: -12px;
  list-style: none; 
  counter-reset: li;
  padding: 0 0 0 10px;
  &>li {
    counter-increment: li;
    a {
      top: -25px;
      border-radius: 25px;
      background-color: $color-grey-light;
      box-shadow: 0 4px 10px $color-shadow;
      padding: 10px 0 10px 20px;
      width: auto;
      p {
        @include font-parameters(pBold)
      }
      &:hover {
        background-color: $color-primary-light;
        i {
          color: $color-primary;
        }
      }
    }
    &::before {
    content: counter(li); 
    color: $color-white;
    background-color: $color-primary;
    border-radius: 45px;
    display: inline-block;
    width: 20px;
    padding: 2px;
    margin-left: -1.5em;
    margin-right: 0.5em; 
    text-align: center;
    position: relative;
    top: 50px;
    right: -15px;
    }
  }
}

// heart Animation
i.fa-heart {
  &:hover {
    @include breakpoint (tablet){
      animation: heart-animation 800ms ease-out;
      @include heart-animation;
    }
  }
  &:active, &:hover {
    @include breakpoint (mobileonly){
      animation: heart-animation 800ms ease-out;
      @include heart-animation;
    }
}
}

// Animation Menu
#starter>a {
  animation: animation-menu 2s ease-in-out;
}
#dish>a {
  animation: animation-menu 3.5s ease-in-out;
}
#dessert>a {
  animation: animation-menu 5s ease-in-out;
}

// loader
#loader {
  display: flex;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  align-items: center;
  background: $color-white;
  animation: loader 3s;
  h2 {
    display: none;
  }
  img {
    padding-top: 20px;
  }
  .loader {
    position: relative;
    top: 35%;
    @include obj(auto,auto,null);
    ul {
      display: grid;
      list-style: none;
      grid-template-columns: repeat(5, 1fr);
      animation: rotate-loader 16s linear infinite;
    }
    li {
      @include obj(40px,40px, $color-button);
      border-radius: 4px;
      box-shadow: 0 0 1px $color-white, 0 0 5px $color-tertiary-dark, 0 0 10px $color-tertiary-light, 0 0 15px $color-tertiary-dark, 0 0 25px $color-tertiary-light, 0 0 55px $color-tertiary-dark;
      animation: scale-loader 0.8s linear alternate infinite;
      @for $i from 1 through 25 {
        &:nth-child(#{$i}) {
          z-index: 25 - $i;
        }
      }
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation-delay: 0.1s * $i;
        }
        &:nth-child(#{$i + 6}) {
          @if ($i<5) {
            animation-delay: 0.1s * $i + 0.2s;
          }
        }
        &:nth-child(#{$i + 12}) {
          @if ($i<4) {
            animation-delay: 0.1s * $i + 0.4s;
          }
        }
        &:nth-child(#{$i + 18}) {
          @if ($i<3) {
            animation-delay: 0.1s * $i + 0.6s;
          }
        }
        &:nth-child(#{$i + 23}) {
          @if ($i<2) {
            animation-delay: 0.1s * $i + 0.8s;
          }
        }
      }
      @include anim($fCol,0);
      @include anim($sCol,0.2s);
      @include anim($tCol,0.4s);
      @include anim($foCol,0.6s);
      &:nth-child(25) {
        animation-delay: 0.9s;
      }
    }  
  }
}

