body {
  @include breakpoint(mobileonly);
  font-family: $font-text;
  font-weight: normal;
  margin: 0;
  padding: 0;
  header {
    text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-logo-title;
    font-weight: normal;
  }
  ul {
    padding: 0;
  }
  a {
    color: black;
    text-decoration: none;
    width: max-content;
  }
}