// background
body {
  @include background-color;
}
#menu, .titleMenuRestaurant, #reservation, #mainContent {
  @include background-color($background-color: $color-grey-light);
}
#localisation {
  @include background-color($background-color: $color-grey);
}
#functioning {
  @include background-color($background-color: $color-white);
}
footer {
  @include background-color($background-color: $color-grey-dark);
}

// image parameters
.imgMenu {
  @include size ($img-defaut-width,$img-defaut-height,$border-none);
}
.imgIndex {
  @include size ($img-defaut-width,$img-defaut-height,$border-radius);
  margin: auto;
}

// General
body {
  @include breakpoint(mobileonly);
  @include reset;
  font-family: $font-family-text;
  font-weight: normal;
  img {
    display: block;
    object-fit: cover;
  }
  header {
    text-align: center;
  }
  .title {
    font-family: $font-family-logo-title;
  }
  .buttonPink {
    @include button-pink;
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: auto;
    p {
      color: $color-white;
      margin: 0;
    }
  }
  ul {
    padding: 0;
  }
  a {
    color: black;
    text-decoration: none;
    width: max-content;
    align-self: center;
  }
}

// list OL
ol {
  position: relative;
  top: -12px;
  list-style: none; 
  counter-reset: li;
  padding: 0 0 0 10px;
  &>li {
    counter-increment: li;
    a {
      top: -25px;
      border-radius: 25px;
      background-color: $color-grey-light;
      box-shadow: 0 4px 10px $color-shadow;
      padding: 10px 0 10px 20px;
      width: auto;
      p {
        @include font-parameters(pBold)
      }
      &:hover {
        background-color: $color-primary-light;
        i {
          color: $color-primary;
        }
      }
    }
    &::before {
    content: counter(li); 
    color: $color-white;
    background-color: $color-primary;
    border-radius: 45px;
    display: inline-block;
    width: 20px;
    padding: 2px;
    margin-left: -1.5em;
    margin-right: 0.5em; 
    text-align: center;
    position: relative;
    top: 50px;
    right: -15px;
    }
  }
}

// heart animation
.fa-heart:hover {
  @include heart-pink;
}