//breakpoints
@mixin breakpoint($size-screen) {
    @if $size-screen == desktop {
        @media (min-width: 70em) { 
            @content ; 
        }
    }
    @else if $size-screen == laptop {
        @media (min-width: 64em) { 
            @content ; 
        }
    }
    @else if $size-screen == tablet {
        @media (min-width: 50em) { 
            @content ; 
        }
    }
    @else if $size-screen == phablet {
        @media (min-width: 37.5em) { 
            @content ; 
        }
    }
    @else if $size-screen == mobileonly {
        @media (max-width: 37.5em) { 
            @content ; 
        }
    }
}

//reset
@mixin reset{
    margin: 0;
    padding: 0;
}

// background
@mixin background-color($background-color: $color-white) {
    background: $background-color;
}

// image parameters
@mixin size ($width, $height, $border) {
    width: $width;
    height: $height;
    border-radius: $border;
}

// button-pink
@mixin button-pink {
    padding: 15px;
    border-radius: 30px;
    background: $color-button;
    &:hover {
        filter: brightness(1.15);
        box-shadow: 0 1px 5px $color-grey-dark;
    }
}

// heart Animation
@mixin heart-animation {
    transition: all 600ms;
    &:hover {
        background: $color-heart;
        color: transparent;
        -webkit-background-clip: text;
        font-weight: $font-M;
        line-height: initial;
        cursor: pointer;
  }
}

// check animation
@mixin check-animation {
    transition: all 1000ms ease-in-out;
    div:first-of-type {
        white-space: nowrap;
        overflow: hidden;
        width: 320px;
        h3, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &:hover {
        div:first-of-type>p {
            margin-right: 5px;
        }
        .selectionButton {
            p {
                margin: 40px 20px 15px 15px;
            }
            i {
                display: initial;
                width: 60px;
                padding: 25% 0 0 0;
                border-radius: 0px 20px 20px 0;
                text-align-last: center;
                color: $color-white;
                background-color: $color-tertiary-light;
            }
        }
    }
}

// font Parameters
@mixin font-parameters ($f-parameters){
    @if $f-parameters == pBold {
        font-size: $font-P;
        font-weight: $font-M;
    }
    @else if $f-parameters == p {
        font-size: $font-P;
        font-weight: $font-S;
    }
    @else if $f-parameters == h1 {
        font-size: $font-H;
        font-weight: $font-M;
    }
    @else if $f-parameters == inputBold {
        font-size: $font-Input;
        font-weight: $font-M;
    }
    @else if $f-parameters == titleMenu {
        font-size: $font-title;
        font-weight: $font-L;
    }
}