//breakpoints
@mixin breakpoint($size-screen) {
    @if $size-screen == desktop {
        @media (min-width: 70em) { 
            @content ; 
        }
    }
    @else if $size-screen == laptop {
        @media (min-width: 64em) { 
            @content ; 
        }
    }
    @else if $size-screen == tablet {
        @media (min-width: 50em) { 
            @content ; 
        }
    }
    @else if $size-screen == phablet {
        @media (min-width: 37.5em) { 
            @content ; 
        }
    }
    @else if $size-screen == mobileonly {
        @media (max-width: 37.5em) { 
            @content ; 
        }
    }
}

// background
@mixin background-color($background-color: $color-white) {
    background: $background-color;
}
body {
    @include background-color;
}
#menu, #reservation, #mainContent {
    @include background-color($background-color: $color-grey-light);
}
#localisation {
    @include background-color($background-color: $color-grey);
}
#functioning {
    @include background-color($background-color: $color-white);
}
footer {
    @include background-color($background-color: $color-grey-dark);
}

// image parameters
@mixin size ($width, $height, $border) {
    width: $width;
    height: $height;
    border-radius: $border;
}
.imgMenu {
    @include size ($img-defaut-width,$img-defaut-height,$border-none);
}
.imgIndex {
    @include size ($img-defaut-width,$img-defaut-height,$border-radius);
}

@mixin button-pink {
    padding: 15px;
    border-radius: 30px;
    background: linear-gradient(165deg, $color-pink, $color-purple);
}