//breakpoints
@mixin breakpoint($size-screen) {
    @if $size-screen == desktop {
        @media (min-width: 70em) { 
            @content ; 
        }
    }
    @else if $size-screen == laptop {
        @media (min-width: 64em) { 
            @content ; 
        }
    }
    @else if $size-screen == tablet {
        @media (min-width: 50em) { 
            @content ; 
        }
    }
    @else if $size-screen == phablet {
        @media (min-width: 37.5em) { 
            @content ; 
        }
    }
    @else if $size-screen == mobileonly {
        @media (max-width: 37.5em) { 
            @content ; 
        }
    }
}

//reset
@mixin reset{
    margin: 0;
    padding: 0;
}

// background
@mixin background-color($background-color: $color-white) {
    background: $background-color;
}

// image parameters
@mixin size ($width, $height, $border) {
    width: $width;
    height: $height;
    border-radius: $border;
}

// button-pink
@mixin button-pink {
    padding: 15px;
    border-radius: 30px;
    background: linear-gradient(165deg, $color-secondary, $color-primary);
    &:hover {
        filter: brightness(1.15);
        box-shadow: 0 1px 5px $color-grey-dark;
    }
}

// heart-pink
@mixin heart-pink {
    zoom: 1.2;
    width: 100%;
    color: transparent;
    font-weight: $font-M;
    background: linear-gradient(to left, $color-secondary, $color-primary);
}

// font Parameters
@mixin font-parameters ($f-parameters){
    @if $f-parameters == pBold {
        font-size: $font-P;
        font-weight: $font-M;
    }
    @else if $f-parameters == p {
        font-size: $font-P;
        font-weight: $font-S;
    }
    @else if $f-parameters == h1 {
        font-size: $font-H;
        font-weight: $font-M;
    }
    @else if $f-parameters == inputBold {
        font-size: $font-Input;
        font-weight: $font-M;
    }
    @else if $f-parameters == titleMenu {
        font-size: $font-title;
        font-weight: $font-L;
    }
}