//sass colors as defined
$color-purple: #9356DC;
$color-pink: #FF79DA;
$color-green-light: #99E2D0;

//font families
$font-text: 'Roboto', sans-serif;
$font-logo-title: 'Shrikhand', cursive;

//Weights

//sizes