//sass colors as defined
$color-purple: #9356DC;
$color-pink: #FF79DA;
$color-green-light: #99E2D0;

$color-grey-dark: #353535;
$color-grey: #eaeaea;
$color-grey-light: #f6f6f6;
$color-white: #ffffff;

//font families
$font-text: 'Roboto', sans-serif;
$font-logo-title: 'Shrikhand', cursive;

//Border-radius
$border-none: 0;
$border-radius: 20px;

//sizes
$img-defaut-width: 335px;
$img-defaut-height: 255px;