//colors as defined
$color-purple: #9356DC;
$color-pink: #FF79DA;
$color-green-light: #99E2D0;

//color extracted mockup
$color-green-dark: #008766;
$color-purple-light: #f5edff;
$color-grey-dark: #353535;
$color-grey-shadow: #d5d5d5;
$color-grey: #eaeaea;
$color-grey-light: #f6f6f6;
$color-white: #ffffff;

//font family
$font-family-text: 'Roboto', sans-serif;
$font-family-logo-title: 'Shrikhand', cursive;

//size
$font-title: 1.1em;
$font-H: 1.5em;
$font-P: 1.1em;
$font-Input: 0.95em;

//weight
$font-S: 400;
$font-L: 600;
$font-M: bold;

//Border-radius
$border-none: 0;
$border-radius: 20px;

//sizes img
$img-defaut-width: 100%;
$img-defaut-height: 255px;